# MANIFEST - Superadmission Data Repository Configuration
# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://rzaczgzbkqepdsvwuter.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6YWN6Z3pia3FlcGRzdnd1dGVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEyNDQwNDMsImV4cCI6MjA5NjgyMDA0M30.0K7M-CrzTaKK9KhyFvTMSuM8fc2-6OUQuI6qNf-p77U

# Superadmission Config
NEXT_PUBLIC_APP_NAME="Manifest"
NEXT_PUBLIC_APP_TAGLINE="Data Repository of Superadmission"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_PRODUCTION_URL="https://manifest.superadmission.com"

